:host {
  display: block;
}

.search-filter {
  border-bottom: 1px solid #b4c0cc;
  padding: 18px 0px 18px 0px;

  input {
    border: 1px solid #b4c0cc;
    border-radius: 3px;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    min-height: 30px;
    padding: 3px 6px;
    width: auto;
    user-select: none;
    vertical-align: middle;
  }
}




// Must use '/deep/' to target component level templates. Caused by style scoping in the shadow DOM
// http://stackoverflow.com/questions/38599491/primeng-element-not-scoped-cant-be-styled-with-default-angular-2-viewencapsula
:host /deep/ {
  .ui-datatable {
    border-collapse: collapse;

    table {
      border: none;
    }

    tbody {
      border: none;
    }

    tr {
      border-bottom: 1px solid #b4c0cc;
      border-left: none;
      border-right: none;
      height: 40px;
    }

    td {
      background: #ffffff;
      border: none;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background: #ffffff;
      border: none;
      color: black;
      text-align: left;
      user-select: none;
      width: 150px;

      .ui-sortable-column-icon {
        color: #d1dee4;
        margin: 0;
      }
    }

    .ui-paginator {
      background: #ffffff;
      padding: 4px 0 0 0;

      .ui-paginator-element {
        border: none;
      }

      .ui-state-active {
        background: none;
        color: #0097e0;
      }
    }

    .text-right {
      text-align: right;
    }

  }
}